mat-card {
    margin-top: 15vh !important;
    margin: 0 auto;
    width: 60vh;
}
form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

button {
    margin: 20px 15px 0px 0px;
}