<mat-sidenav-container class="container">
    <mat-sidenav *ngIf="authService.userAuth" class="sidenav" mode="side" opened 
        fixedInViewport="true" fixedTopGap="64">
        <mat-nav-list class="nav-list">
            <a mat-list-item routerLink="/home">
                <i class="material-icons">
                    home
                </i>
                Início
            </a>
            <a mat-list-item  routerLink="/ceps">
                <i class="material-icons">
                    storefront
                </i>
                Cep / Cidade
            </a>
            <a mat-list-item  (click)="logout()">
                <i class="material-icons">
                    exit_to_app
                </i>
                Sair
            </a>
        </mat-nav-list>
    </mat-sidenav>
    <mat-sidenav-content class="content">
        <router-outlet></router-outlet>
    </mat-sidenav-content>
</mat-sidenav-container>
